/* Reset de estilos padrão */
body, h1, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos gerais */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 20px;
  }
  
  li {
    display: inline;
    margin-right: 20px;
  }
  
  /* Estilos da imagem */
  .foto img {
    margin: 3vw;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilos dos links */
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    text-decoration: underline;
  }
  